@charset "UTF-8";
body {
  margin: 0px;
}

div {
  box-sizing: border-box;
}

p, li, ul {
  margin: 0;
}

body {
  height: 300vh;
}

@-webkit-keyframes menuItem {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translateX(50px) skewX(-35deg);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes menuItem {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translateX(50px) skewX(-35deg);
  }
  100% {
    transform: translate(0);
  }
}
.nav-menu {
  max-width: 300px;
  z-index: 1;
  position: fixed;
  height: 100vh;
  background-color: black;
  color: white;
  width: 30vw;
  transform: translateX(-60%);
  transition: all 1s;
}
.nav-menu p {
  padding: 20px 0px 0px 0px;
}
.nav-menu .menu-title {
  transform: translateX(70%);
  transition: all 1s;
}
.nav-menu .menu-item {
  text-align: center;
  transition: all 1s;
}

.nav-menu:hover {
  transform: translateX(0);
}
.nav-menu:hover .menu-title {
  transform: translateX(43%);
}
.nav-menu:hover .menu-item {
  -webkit-animation-name: "menuItem";
          animation-name: "menuItem";
  -webkit-animation-duration: 0.9s;
          animation-duration: 0.9s;
}

.container {
  max-width: 1200px;
  width: 80%;
  margin-left: 15vw;
  margin-right: auto;
}

.list-container {
  list-style: none;
  max-width: 500px;
  font-weight: 500;
  font-size: 18px;
}
.list-container li {
  border: 1px solid #eee;
  padding: 20px;
}
.list-container p {
  margin: 0px;
}
.list-container .active {
  background-color: #007BFF;
  color: white;
}

.alert-box-green {
  padding: 15px;
  color: #3F776A;
  background-color: #DFF0D8;
  margin: 10px 0px 10px 0px;
  border-radius: 10px;
}
.alert-box-green p {
  margin: 0px;
}

.alert-box-blue {
  padding: 15px;
  color: #317095;
  background-color: #D8ECF7;
  margin: 10px 0px 10px 0px;
  border-radius: 10px;
}
.alert-box-blue p {
  margin: 0px;
}

.alert-box-red {
  padding: 15px;
  color: #916F42;
  background-color: #FCF8E3;
  margin: 10px 0px 10px 0px;
  border-radius: 10px;
}
.alert-box-red p {
  margin: 0px;
}

.row {
  /*   width: 100%; */
  border: 1px solid #D7D1E0;
  padding: 1px;
  margin-top: 10px;
}
.row div::before {
  content: "";
  display: block;
}
.row div {
  border: 1px solid #D7D1E0;
  float: left;
  background-color: #E5E1EA;
}
.row .col-6 {
  width: 50%;
}
.row .col-4 {
  width: 33.33%;
}
.row .col-3 {
  width: 25%;
}

.ani-text {
  text-align: center;
  background: #007BFF;
  color: white;
  border-radius: 10px;
}

.ani-text:hover {
  -webkit-animation-name: 작명;
          animation-name: 작명;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

@-webkit-keyframes 작명 {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-100px);
  }
  75% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes 작명 {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-100px);
  }
  75% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0px);
  }
}
.heundle-btn {
  border: none;
  background: skyblue;
  color: white;
  padding: 15px;
  border-radius: 5px;
}

.heundle-btn:hover {
  -webkit-animation-name: 흔들버튼;
          animation-name: 흔들버튼;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
}

@-webkit-keyframes 흔들버튼 {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-15deg);
  }
  60% {
    transform: rotate(15deg);
  }
  80% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes 흔들버튼 {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-15deg);
  }
  60% {
    transform: rotate(15deg);
  }
  80% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.plus {
  width: 20px;
  height: 20px;
}
.plus .plus1 {
  position: relative;
  top: 50%;
  background-color: black;
  width: 20px;
  height: 3px;
}
.plus .plus2 {
  position: relative;
  top: 50%;
  background-color: black;
  width: 20px;
  height: 3px;
  transform: rotate(90deg) translateX(-3px);
}

.plus:hover {
  -webkit-animation-name: turn;
          animation-name: turn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes turn {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(45deg) scale(1.5);
  }
}

@keyframes turn {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(45deg) scale(1.5);
  }
}/*# sourceMappingURL=main.css.map */