@use '_reset.scss';

$mainColor : #494BB4;
$iconColor : #808080;
$boxShadow : #e6e3e3;

.side-navbar{
  position: fixed;
  background-color: $mainColor;
  width: 150px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(-105px);
  transition: all .8s;
  .side-navbar-icon-container{
    margin-top: 20px;
    padding-bottom: 10px;
    width: 80%;
    .side-navbar-icon{
      transition: all .8s;
    }
    a{
      display: flex;
      justify-content: space-between;
      text-decoration: none;
      color: white;
      p{
        transition: all 1s;
      }
    }
  }
}
.side-navbar:hover{
  transform: translateX(0%);
  .side-navbar-icon-container{
    margin-left: 20px;
  }
  .side-navbar-icon{
    transform: translateX(-100px);
  }
  p{
    transform: translateX(40px);
  }
}
.container{
  background-color: #F9F9F9;
  margin-left: 45px;
  min-height: 100vh;
  .upper-navbar-container{
    background-color: white;
    box-shadow: 0px 5px 10px $boxShadow;
    .upper-navbar{
      width: 98%;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .upper-navbar-search{
        padding: 10px;
        display: flex;
        align-items: center;
        input{
          border: 1px solid gray;
          height: 32px;
          width: 180px;
          border-radius: 3px;
          border-right: none;
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;
          transition: all 1s;
          padding-left: 6px;
        }
        button{
          background-color: #333A40;
          color: white;
          border: none;
          height: 36px;
          width: 36px;
          border: 1px solid #333A40;
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
          cursor: pointer;
        }
        input:focus{
          width: 300px;
          outline: none;
        }
      }
      .upper-navbar-icon{
        display: flex;
        justify-content: space-between;
        div{
          padding: 10px;
          color: $iconColor;
        }
      }
    }
  }
  

  .dashboard{
    width: 95%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    .dashboard-box-container{
      display: flex;
      justify-content: space-between;
      .dashboard-box{
        width: 24%;
        max-width: 250px;
        height: 110px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px $boxShadow;
        .dashboard-box-content{
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 15px;
          .dashboard-box-text{
            font-size: 15px;
            p:nth-child(1){
              margin-bottom: 10px;
            }
            p:nth-child(2){
              color: black;
              font-weight: 800;
            }
          }
          .dashboard-box-icon{
            font-size: 28px;
            color: $iconColor;
          }
        }
      }
      .dashboard-box:nth-child(1){
        border-left: 4px solid #89CFEB;
      }
      .dashboard-box:nth-child(2){
        border-left: 4px solid #40C95A;
      }
      .dashboard-box:nth-child(3){
        border-left: 4px solid #4B4EB5;
      }
      .dashboard-box:nth-child(4){
        border-left: 4px solid #FECA54;
      }
    }
  }



  .middle-content{
    display: flex;
    justify-content: space-between;
    width: 95%;
    max-width: 1400px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    .chart-container{
      border-radius: 5px;
      box-shadow: 0px 0px 10px $boxShadow;
      // padding: 15px;
      width: 60%;
      .chart-tilte{
        background-color: #F9F9F9;
        font-weight: 800;
        padding: 15px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-radius: 5px;
        box-shadow: 0px 0px 4px $boxShadow;
      }
      .chart{
        padding: 15px;
        background-color: white;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-radius: 5px;
      }
    }

    .Tasks{
      width: 35%;
      .task-title{
        box-shadow: 0px 0px 10px $boxShadow;
        font-weight: 800;
        padding: 15px;
        border-radius: 5px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
      }
      .task-content{
        background-color: white;
        box-shadow: 0px 0px 10px $boxShadow;
        border-radius: 5px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        ul{
          list-style: none;
          padding: 0px;
          li{
            border-bottom: 1px solid $boxShadow;
            padding: 10px 0px 10px 0px;
            a{
              text-decoration: none;
              color: black;
              div{
                display: flex;
                justify-content: space-between;
                padding: 5px 10px 5px 10px;
                .pill{
                  background-color: $mainColor;
                  color: white;
                  border-radius: 50px;
                  font-size: 14px;
                  text-align: center;
                  padding: 0px 10px 0px 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}


// Mobile Style
@media only screen and (max-width : 768px){
  .container{
    padding-bottom: 50px;
    .upper-navbar-container{
      .upper-navbar{
        .upper-navbar-search{
          input{
            width: 100px;
          }
          input:hover{
            width: 110px;
          }
        }
      }
    }
    .dashboard{
      .dashboard-box-container{
        flex-direction: column;
        .dashboard-box{
          max-width: none;
          width: 100%;
          margin-bottom: 20px;
          .dashboard-box-content{
            .dashboard-box-text{
              font-size: 16px;
            }
          }
        }
      }
    }

    .middle-content{
      flex-direction: column;
      .chart-container{
        width: 100%;
      }
      .Tasks{
        width: 100%;
      }
    }
  }
}

