body {
  margin: 0px;
}

div {
  box-sizing: border-box;
}

p, li, ul {
  margin: 0;
}

.side-navbar {
  position: fixed;
  background-color: #494BB4;
  width: 150px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(-105px);
  transition: all 0.8s;
}
.side-navbar .side-navbar-icon-container {
  margin-top: 20px;
  padding-bottom: 10px;
  width: 80%;
}
.side-navbar .side-navbar-icon-container .side-navbar-icon {
  transition: all 0.8s;
}
.side-navbar .side-navbar-icon-container a {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: white;
}
.side-navbar .side-navbar-icon-container a p {
  transition: all 1s;
}

.side-navbar:hover {
  transform: translateX(0%);
}
.side-navbar:hover .side-navbar-icon-container {
  margin-left: 20px;
}
.side-navbar:hover .side-navbar-icon {
  transform: translateX(-100px);
}
.side-navbar:hover p {
  transform: translateX(40px);
}

.container {
  background-color: #F9F9F9;
  margin-left: 45px;
  min-height: 100vh;
}
.container .upper-navbar-container {
  background-color: white;
  box-shadow: 0px 5px 10px #e6e3e3;
}
.container .upper-navbar-container .upper-navbar {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .upper-navbar-container .upper-navbar .upper-navbar-search {
  padding: 10px;
  display: flex;
  align-items: center;
}
.container .upper-navbar-container .upper-navbar .upper-navbar-search input {
  border: 1px solid gray;
  height: 32px;
  width: 180px;
  border-radius: 3px;
  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  transition: all 1s;
  padding-left: 6px;
}
.container .upper-navbar-container .upper-navbar .upper-navbar-search button {
  background-color: #333A40;
  color: white;
  border: none;
  height: 36px;
  width: 36px;
  border: 1px solid #333A40;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
}
.container .upper-navbar-container .upper-navbar .upper-navbar-search input:focus {
  width: 300px;
  outline: none;
}
.container .upper-navbar-container .upper-navbar .upper-navbar-icon {
  display: flex;
  justify-content: space-between;
}
.container .upper-navbar-container .upper-navbar .upper-navbar-icon div {
  padding: 10px;
  color: #808080;
}
.container .dashboard {
  width: 95%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
.container .dashboard .dashboard-box-container {
  display: flex;
  justify-content: space-between;
}
.container .dashboard .dashboard-box-container .dashboard-box {
  width: 24%;
  max-width: 250px;
  height: 110px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #e6e3e3;
}
.container .dashboard .dashboard-box-container .dashboard-box .dashboard-box-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.container .dashboard .dashboard-box-container .dashboard-box .dashboard-box-content .dashboard-box-text {
  font-size: 15px;
}
.container .dashboard .dashboard-box-container .dashboard-box .dashboard-box-content .dashboard-box-text p:nth-child(1) {
  margin-bottom: 10px;
}
.container .dashboard .dashboard-box-container .dashboard-box .dashboard-box-content .dashboard-box-text p:nth-child(2) {
  color: black;
  font-weight: 800;
}
.container .dashboard .dashboard-box-container .dashboard-box .dashboard-box-content .dashboard-box-icon {
  font-size: 28px;
  color: #808080;
}
.container .dashboard .dashboard-box-container .dashboard-box:nth-child(1) {
  border-left: 4px solid #89CFEB;
}
.container .dashboard .dashboard-box-container .dashboard-box:nth-child(2) {
  border-left: 4px solid #40C95A;
}
.container .dashboard .dashboard-box-container .dashboard-box:nth-child(3) {
  border-left: 4px solid #4B4EB5;
}
.container .dashboard .dashboard-box-container .dashboard-box:nth-child(4) {
  border-left: 4px solid #FECA54;
}
.container .middle-content {
  display: flex;
  justify-content: space-between;
  width: 95%;
  max-width: 1400px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.container .middle-content .chart-container {
  border-radius: 5px;
  box-shadow: 0px 0px 10px #e6e3e3;
  width: 60%;
}
.container .middle-content .chart-container .chart-tilte {
  background-color: #F9F9F9;
  font-weight: 800;
  padding: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-radius: 5px;
  box-shadow: 0px 0px 4px #e6e3e3;
}
.container .middle-content .chart-container .chart {
  padding: 15px;
  background-color: white;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-radius: 5px;
}
.container .middle-content .Tasks {
  width: 35%;
}
.container .middle-content .Tasks .task-title {
  box-shadow: 0px 0px 10px #e6e3e3;
  font-weight: 800;
  padding: 15px;
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.container .middle-content .Tasks .task-content {
  background-color: white;
  box-shadow: 0px 0px 10px #e6e3e3;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.container .middle-content .Tasks .task-content ul {
  list-style: none;
  padding: 0px;
}
.container .middle-content .Tasks .task-content ul li {
  border-bottom: 1px solid #e6e3e3;
  padding: 10px 0px 10px 0px;
}
.container .middle-content .Tasks .task-content ul li a {
  text-decoration: none;
  color: black;
}
.container .middle-content .Tasks .task-content ul li a div {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px 5px 10px;
}
.container .middle-content .Tasks .task-content ul li a div .pill {
  background-color: #494BB4;
  color: white;
  border-radius: 50px;
  font-size: 14px;
  text-align: center;
  padding: 0px 10px 0px 10px;
}

@media only screen and (max-width: 768px) {
  .container {
    padding-bottom: 50px;
  }
  .container .dashboard .dashboard-box-container {
    flex-direction: column;
  }
  .container .dashboard .dashboard-box-container .dashboard-box {
    max-width: none;
    width: 100%;
    margin-bottom: 20px;
  }
  .container .dashboard .dashboard-box-container .dashboard-box .dashboard-box-content .dashboard-box-text {
    font-size: 16px;
  }
  .container .middle-content {
    flex-direction: column;
  }
  .container .middle-content .chart-container {
    width: 100%;
  }
  .container .middle-content .Tasks {
    width: 100%;
  }
}/*# sourceMappingURL=sticky.css.map */